<%- include('../partials/header') %>
<div class="container">
    <h1>Erreur</h1>
    <p>Une erreur s'est produite. Veuillez réessayer plus tard.</p>
    <a href="/" class="btn">Retour à l'accueil</a>
</div>
<%- include('../partials/footer') %>
